<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    </configSections>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="User Id=sa;Password=1234567;Data Source=DESKTOP-RLN4LA8;database=OrderProject;Min Pool Size=8;Max Pool Size=50;Pooling=true;Connection Lifetime=150;"
            providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>